@media  screen and (max-width:760px) {
    .bg-container .bg-element{
        width: 170px;
        height: 150px;
    }
    .bg-container .column-second .bg-element {
        width: 110px;
    }

    .container .tic-tac-toe-frame{
        content: " ";
        background-image: url('assests/tic-tac-toe-frame.svg');
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        margin-top: 40px;
        width: 350px;
        height: 350px;
    } 
}

@media  screen and (max-width:520px) {
    .bg-container .bg-element{
        width: 120px;
        height: 80px;
    }
    .bg-container .column-second .bg-element {
        width: 80px;
    }

    .container .tic-tac-toe-frame{
        content: " ";
        background-image: url('assests/tic-tac-toe-frame.svg');
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        margin-top: 40px;
        width: 180px;
        height: 180px;
    }
    
}