@media only screen and (max-width: 520px) {
   
    .bg-container .bg-element{
        width: 100px;
        height: 100px;
    }

    .tic-tac-toe .element{
        background-image: url('assests/slot.svg');
        width: 70px;
        height: 70px;
    }

    .users{
        bottom: -170px;
    }

    .banner-content .winner-name{
        font-size: 46px;
        letter-spacing: 10px;
    }


  }

  @media only screen and (max-width: 320px) {
   
    .bg-container .bg-element{
        width: 100px;
        height: 100px;
    }

    .tic-tac-toe .element{
        background-image: url('assests/slot.svg');
        width: 70px;
        height: 70px;
    }

    .users{
        bottom: -160px;
    }

    .banner-content .winner-name{
        font-size: 36px;
        letter-spacing: 8px;
    }

    .btn-group{
        flex-direction: column;
    }

    .btn-group button{
        width: 130px;
    }
    
  }