:root{
    --color-antique-white: #ece5d5;
    --color-marine-magic: #4f5d64;
}

@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    max-height: 100vh;
    width:100vw;
    min-height: 100vh;
    background-color: var(--color-antique-white);  
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    position: relative;
    min-width: 320px;
 }

 .bg-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    box-shadow: -32px 44px 60px 0px rgba(15, 12, 36, 0.35),
                -8px 15px 20px 0px rgba(0, 0, 0, 0.65),
                -4px 4px 4px 4px rgba(155, 164, 167, 0.40) inset,
                 2px -2px 4px 6px rgba(0, 0, 0, 0.45) inset;

    background: linear-gradient(224deg, rgba(199, 199, 199, 0.00) 0%, 
    rgba(169, 169, 169, 0.55) 100%);

 }


.bg-container .bg-element{
    width: 150px;
    height: 150px;
    border-radius: 8px;
    background: var(--color-marine-magic);
    box-shadow: -2px 2px 2px 4px rgba(155, 164, 167, 0.40) inset,
                 2px -2px 2px 4px rgba(0, 0, 0, 0.45) inset;
}


.bg-container  .column-second{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.heading{
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Comic Neue', cursive;
    font-size: 26px;
    font-weight: 900;
    letter-spacing: 14.4px;
    text-transform: uppercase;
}

 /* Misc */

 .column-first{
    position: relative;
}

.column-third{
    position: relative;
}

.column-first::before{
    content: " ";
    background-image: url('assests/ellipse.svg');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 42px;
    height: 42px;
    fill: #F9E5BF;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.75)) drop-shadow(-10px 16px 20px rgba(0, 0, 0, 0.45));
}

.column-first::after{
    content: " ";
    background-image: url('assests/ellipse.svg');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 42px;
    height: 42px;
    fill: #F9E5BF;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.75)) drop-shadow(-10px 16px 20px rgba(0, 0, 0, 0.45));
}

.column-third::before{
    content: " ";
    background-image: url('assests/ellipse.svg');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 42px;
    height: 42px;
    fill: #F9E5BF;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.75)) drop-shadow(-10px 16px 20px rgba(0, 0, 0, 0.45));
}

.column-third::after{
    content: " ";
    background-image: url('assests/ellipse.svg');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 42px;
    height: 42px;
    fill: #F9E5BF;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.75)) drop-shadow(-10px 16px 20px rgba(0, 0, 0, 0.45));
}

.column-first div:first-child::before{
    content: " ";
    background-image: url('assests/arrow-line-up.svg');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 30px;
    top: 50px;
    width: 50px;
    height: 120px;
}

.column-first div:last-child::before{
    content: " ";
    background-image: url('assests/arrow-line-down.svg');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 30px;
    bottom: 60px;
    width: 50px;
    height: 120px;
}

.column-third div:first-child::before{
    content: " ";
    background-image: url('assests/arrow-line-up.svg');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    right: -20px;
    top: 50px;
    width: 50px;
    height: 120px;
}

.column-third div:last-child::before{
    content: " ";
    background-image: url('assests/arrow-line-down.svg');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    right: -20px;
    bottom: 60px;
    width: 50px;
    height: 120px;
}

.container .tic-tac-toe-frame{
    content: " ";
    background-image: url('assests/tic-tac-toe-frame.svg');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    margin-top: 95px;
    width: 360px;
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.tic-tac-toe{
    position: absolute;
}

.tic-tac-toe div{
    display: flex;
    flex-direction: row;
}

.tic-tac-toe .element{
    background-image: url('assests/slot.svg');
    width: 115px;
    height: 115px;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.tic-tac-toe .row1 .element:first-child{
    border-top-left-radius: 25px;
}

.tic-tac-toe .row1 .element:last-child{
    border-top-right-radius: 25px;
}

.tic-tac-toe .row3 .element:first-child{
    border-bottom-left-radius: 25px;
}

.tic-tac-toe .row3 .element:last-child{
    border-bottom-right-radius: 25px;
}

.users{
    position: absolute;
    bottom: -180px;
    z-index: -1000;
}

.users div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.users .planet{
    background-image: url('assests/planet-background.svg');
    width: 60px;
    height: 60px;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.users .star{
    background-image: url('assests/star-background.svg');
    width: 60px;
    height: 60px;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.planet-bg-background{
    height: 180px;
    padding: 0px 10px;
    border-radius: 0px 0px 40px 40px;
    background: #E9B98B;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.star-bg-background{
    height: 180px;
    padding: 0px 10px;
    border-radius: 0px 0px 40px 40px;
    background: #C6D4D9;
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.users .turn-button{
    background: url("/assests/ellipse-rotate.svg");
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: cover;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; 
}

.turn-button .rotate-icon{
    background-image: url('/assests/rotate-icon.svg');
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition: transform 1s ease;
    transform-origin: center;

}

.turn-button:hover .rotate-icon{
    transform: rotate(360deg);
}

.element .move-shadow{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    /* filter: invert(0.2);  */
}

.element .move-shadow.shadow-star{
    background-image: url('/assests/star-shadow.svg');
    opacity: 0;
     transition: opacity 0.5s ease-in-out;
}

.element .move-shadow.shadow-planet{
    background-image: url('/assests/planet-shadow.svg');
    opacity: 0;
    transition: opacity 0.5s ease-in-out;

}

.element:hover .move-shadow.shadow-star{
     opacity: 1;
}

.element:hover .move-shadow.shadow-planet{
     opacity: 1;
}

.users .star-img{
    background-image: url('./assests/star.svg');
    width: 90px;
    height: 90px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: -8px;

}

.users .planet-img{
    background-image: url('./assests/planet.svg');
    width: 90px;
    height: 90px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: -3px;
    bottom: 40px;
}

.star-element{
    background-image: url('./assests/star-with-bg.png');
    width: 90px;
    height: 90px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.planet-element{
    background-image: url('./assests/planet-with-bg.png');
    width: 90px;
    height: 90px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.row1 .element:first-child .planet-element{
    border-top-left-radius: 10px;
}


.row1 .element:last-child .planet-element{
    border-top-right-radius: 10px;
}

.row3 .element:first-child  .planet-element{
    border-bottom-left-radius: 10px;
}

.row3 .element:last-child .planet-element{
    border-bottom-right-radius: 10px;
}

.winner-dailog{
    position: relative;
}


.winner-dailog .banner{
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.06) 18.75%, rgba(0, 0, 0, 0.00) 49.71%, rgba(0, 0, 0, 0.04) 82.81%, rgba(0, 0, 0, 0.20) 100%), var(--x-color-500, #C6D4D9);
    box-shadow: -16px 28px 108px 0px rgba(0, 0, 0, 0.55);
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .banner-content{
    border-radius: 48px;
    border: 2px dashed var(--gray-600, #828C90);
    height: 200px;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.banner-content .winner-name{
    color: var(--gray-900, #4F5D64);
    text-align: center;
    font-size: 72px;
    font-weight: 800;
    letter-spacing: 14.4px;
    text-transform: uppercase;
}

.btn-group{
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.btn-group .next-round-btn,
.btn-group .restart-btn{
    border-radius: 8px;
    background: #0c3447;
    padding: 10px;
    cursor: pointer;
    color: #EED2A1;
    font-weight: bold;
}

.winner-dailog{
    width: 100%;
}

.winner-dailog img{
    position: absolute;
    top: -80px;
    right: 50%;
    width: 150px;
}

dialog{
    display: none;
    position: fixed;

    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}