@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;700;800;900&family=Montserrat:wght@400;500;600;700&display=swap");
:root {
  --bg-color-bleached-silk: #f2f2f2;
  --bg-color-white: #fff;
  --text-color-black-oak: #4f4f4f;
  --text-color-trolley-grey: #828282;
  --text-color-carbon: #333333;
  --bleu-de-france: #2f80ed;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}

.material-symbols-outlined {
  margin-right: 10px;
}
body {
  background-color: var(--bg-color-bleached-silk);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.container {
  margin: 50px 0px;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 30px;
  padding-left: 30px;
  gap: 30px;
}

.profile-intro-container {
  padding: 15px;
  background-color: var(--bg-color-white);
  display: flex;
  justify-content: center;
  gap: 20px;
  border-radius: 10px;
}

.profile-intro-container .profile-pic img {
  min-width:200px;
  max-width: 270px;
  /* height: 260px; */
  border-radius: 10px;
}

.intro-details {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.intro-details .profile-details-container {
  display: flex;
  justify-content: space-between;
}

.profile-name-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.profile-name {
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  color: var(--text-color-black-oak);
}

.role {
  color: var(--text-color-trolley-grey);
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.contact-details {
  display: flex;
  flex-direction: column;
  gap: 5px;

  font-size: 18px;
  line-height: 21px;
  color: var(--text-color-black-oak);
}

.description {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 18px;
  line-height: 21px;
  color: var(--text-color-trolley-grey);
}

.contact,
.email {
  display: flex;
  justify-content: center;
}

.widget-container {
  display: flex;
  gap: 30px;
}

.left-widget-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.skill-board-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--bg-color-white);
  padding: 10px;
  border-radius: 10px;
}

.skill-heading {
  color: var(--text-color-black-oak);
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
}

.skills {
  display: grid;
  gap: 5px;
  font-size: 16px;
  font-weight: 500;
  color: var(--text-color-black-oak);
}

.skill {
  display: flex;
  align-items: center;
}

.skill p {
  min-width: 13ch;
}

.hobbies-container {
  background-color: var(--bg-color-white);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.hobbies-container .hobby-name {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 10px;
}

.hobbies-container .hobby {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}
.hobby img{
    width: 370px;
    height: 160px;
    border-radius: 10px;
}

.hobbies-heading{
    font-weight: 600;
    font-size: 24px;
    color: var(--text-color-carbon);
}

.right-widget-container{
   display: flex;
   flex-direction: column;
   gap: 20px;
}

.right-widget-container .blogs-container {
   background-color: var(--bg-color-white);
   padding: 30px 0px 30px 30px;
   border-radius: 10px;
}

.blogs-container .blog-cover{
    display: flex;
    gap: 10px;
}

.blogs-container .blog-cover img{
    width: 320px;
    height: 320px;
    border-radius: 10px 0px 0px 10px;
}

.blog-cover .blog-heading{
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    max-width: 15ch;
}
.blogs-container  .small-description{
    margin: 40px 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 500;
    font-size: 16px;
    color: var(--text-color-trolley-grey);
}

.blogs-container  .blog-link{
    margin-top: 50px;
    font-size: 16px;
    color: var(--bleu-de-france);
}

/* Experience Container section */
.experience-container{
  background-color: var(--bg-color-white);
  padding: 20px;
  border-radius: 20px;
}

.experience-container .experience-heading{
  color: var(--text-color-black-oak);
  font-weight: 500;
  size: 24px;
  line-height: 30px;
  margin-bottom: 20px;
}

.experiences{
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.experience-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.experiences .experience{
  display: flex;
  gap: 30px;
}

.experience .time-period{
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  color: var(--text-color-trolley-grey);
}

.experience img{
  width: 120px;
  height: 84px;
}

.experience div{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.experience  .role-name{
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}

.experience .description{
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin-top: 20px;
}




